.navbar {
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  background-color: black;
  overflow-y: hidden;
  padding-top: 30px;
}

.page sidebar {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: -2;
    right: 0;
    opacity: .8;
    top: 0;
    background-color: #0073c5;
}

.page sidebar2 {
    height: 100%;
    width: 15%;
    opacity: .8;
    position: fixed;
    z-index: -1;
    right: 0;
    top: 0;
    background-color: #0052c5;
}

.page sidebar3 {
    height: 100%;
    width: 5%;
    position: fixed;
    z-index: 0;
    opacity: .6;
    right: 0;
    top: 0;
    background-color: #0031c5;
}

.navbar sidebar4 {
    height: 100%;
    width: 10px;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    background-color: black;
}


.navbar underline {
    height: 10px;
    width: 100%;
    position: fixed;
    z-index: -1;
    top: 80px;
    left: 0;
    background-color: #0021c5;
}

.navbar underline2 {
    height: 10px;
    width: 100%;
    position: fixed;
    z-index: -1;
    top: 90px;
    left: 0;
    background-color: #0031c5;
    opacity: 0.6;
}

.head {
  height: 44px;
  padding: 10px 8px 10px 16px;
  font-variant: small-caps;
  font-size: 38px;
  text-decoration: underline 	solid maroon;
  color

}

.navbar a {
  padding-right: 40px;
  text-decoration: none;
  font-size: 20px;
  color: grey;
  display: inline-block;
  float: right;
}

.navbar a:hover {
  color: white;
  text-decoration: underline white;
}

.navbar title {
    color: grey;
    font-size: 30px;
    font-family: 'Lucida Calligraphy' , sans-serif;
    font-style: italic;
    display: inline-block;
    padding-left: 5%;
    padding-right: 40%;
}

.page a {
  text-decoration: none;
  font-size: 30px;
  color: maroon;
  display: inline-block;
}

.page {
    position:relative;
    z-index: 5;
    margin-top: 90px;
    font-family: Georgia;
}


.page2 {
  margin-top: 90px;
  height: 100%;
  width: 100%;
  font-family: Lucida Console;
  font-weight:900;
  color:Green;
  background-color:black;
}

.page a:hover {
  color: turquoise;
  text-decoration: underline turquoise;
}

/*END HORIZONTAL MENU BAR*/

/*SLIDESHOW/CAROUSEL STYLES*/

.menu-container {
  width: 95%;
  height: 95%;
}

.slideshow-container {
  width: 50%;
  height: 95%;
  position: absolute;
  margin: auto;
  right: 10%;
  top: 60px;
  z-index: 7;
}

.menu {
  width: 50%;
  height: 95%;
  float: left;
}

.menu wr {
        text-decoration: none;
        font-size: 60px;
        font-family: Georgia, serif;
        font-weight: bolder;
        display: inline-block;
        text-align: center;
        padding: 5% 25%;
}

.menu wr:hover {
    text-decoration: underline grey;
}


.mySlides {
    display: none;

}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.slidecount {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #A9A9A9;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active, .dot:hover {
        background-color: #A9A9A9;
    }

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*END CAROUSEL STYLES*/

/* SCROLLBOX STYLE*/

.scroll-container{
  width: 95%;
  height: 650px;
}

.scrollbox {
  width: 50%;
  height: 95%;
  overflow-y: scroll;
  float: left;
}

.texbox {

  width: 40%;
  height: 95%;
  background: snow;
  font-size: 24px;
  float: right;
}

.im {
  margin: 0 auto;
  padding-bottom: 15px;
  width: 90%;
}

.im90 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  margin: 0 auto;
  padding-top: 200px;
  width: 90%;
}

p {
  font-size: 20px;
  font-variant: normal;
  font-family: Georgia;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
}

.dlbutt {
background-color: Maroon;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}

.dlbutt:hover{
  background-color: DodgerBlue;
}
